/* Color variables */
:root {
  --white-color: #fff;
  --bg-color: #fff;
  --gray-color: #ccc;
}

/* Changing background color */
body {
  /* background: var(--bg-color) !important; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(166, 163, 238) 0%,
    rgba(183, 183, 230, 0.5887605042016807) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
nav {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 6, 84, 0.8520658263305322) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Changing link color */
.nav-item .nav-link {
  color: var(--white-color);
}

#datetime {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff; /* White color for text */
  margin-top: 10px;
}

/* Hero section background image */
.hero {
  height: 100vh;
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#skills i {
  height: 100px;
  width: 100px;
}

#portfolio img {
  height: 300px;
  object-fit: cover;
}

#about .img,
#about img,
.hire-text h2 {
  position: relative;
}

/* Timeline background line */
#about .img::before {
  content: "";
  left: 50%;
  width: 4px;
  position: absolute;
  height: calc(100% + 140px);
  background: var(--gray-color);
}

#about img,
#about .hire-text h2 {
  width: 140px;
}

#about .hire-text h2 {
  height: 140px;
}

.social-icons a {
  width: 40px;
  height: 40px;
}

footer .social-icons a {
  width: 30px;
  height: 30px;
}

#cv img {
  width: 230px;
}

/* Contact section background image */
#contact {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../images/contact-bg.jpeg");
}

@media screen and (max-width: 990px) {
  #skills .card {
    width: calc(100% / 2 - 10px) !important;
  }
}

@media screen and (max-width: 668px) {
  #skills .card,
  #portfolio .card-wrapper {
    width: 100% !important;
  }
}

.contact-section {
  background-color: transparent;
  padding: 40px 20px;
  align-items: center;

}

.container {
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

p {
  font-size: 1.125rem;
  color: #333;
  margin-bottom: 32px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

}

.input-group {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.input-group label {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  background-color: rgb(223, 234, 238);
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #a2b4c7;
  outline: none;
  
}

textarea {
  resize: vertical;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .contact-form {
    width: 90%;
  }

  .input-group {
    width: 100%;
  }
}
